.header {
  background-color: var(--accent-color);
  padding: 5px;

  .header__nav {
    @media (min-width: 600px) {
      display: flex;
      align-items: center;
    }

    .header__logo {
      text-align: center;
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: bold;
    }

    .header__menu {
      display: flex;
      flex-direction: column;
      @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
      }
      .menu__item {
        color: var(--text-color);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .header__banner {
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/baby-yoda.svg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .header__title {
      text-align: center;
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: bold;
      color: var(--accent-color);
    }
  }
}
