.header {
    background-color: var(--accent-color);
    padding: 5px;

    .header__nav {
        @media (min-width: 600px) {
            display: flex;
            align-items: center;
        }

        .header__logo {
            font-size: 3.5rem;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }

        .header__menu {
            display: flex;
            flex-direction: column;

            @media (min-width: 600px) {
                flex: 1;
                flex-direction: row;
                justify-content: space-around;
            }

            .menu__item {
                text-decoration: none;
                color: var(--text-color);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .header__banner {
        min-height: 500px;
        background: 
            linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),
            url(../img/baby-yoda.svg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .header__title {
            font-size: 3.5rem;
            text-transform: uppercase;
            color: var(--accent-color);
            font-weight: bold;
        }
    }

}