.products {
    padding: 5px;

    .products__list {
        display: grid;
        gap: 5px;

        /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */

        @media (min-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 900px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        @media (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .products__item {
            border: 1px solid black;
            padding: 5px;
        }

    }
}